.order-card {
	width: 240px;
	min-height: 160px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;

	background-color: var(--color-gray--block);
	color: #000;
	border-radius: 5px;
}

.order-card__title {
	font-size: 16px;
	line-height: 18px;
}

.order-card__body {
	margin-bottom: 17px;
	padding-left: 26px;
	font-size: var(--fs-12);

	&:is(:last-child) {
		gap: 8px;
	}

	ul {
		list-style-type: disc;
	}
}

.order-card__footer {
	font-size: var(--fs-12);
	padding-left: 26px;
}
