.header__wrapper {
	display: flex;
	align-items: center;
	padding-block: 29px 35px;
}

.header__logo {
	margin-right: 35px;
}

.header__search {
	margin-right: 47px;
	border: 2px solid var(--color-blue);
	border-radius: 8px;
}

.header__icons {
	display: flex;
	gap: 25px;
}
