.category-card {
	position: relative;
	border-radius: 10px;

	img {
		object-fit: cover;
		border-radius: 9px;
	}
	.ant-card-body {
		padding: 0;
	}

	.category-card__description {
		position: absolute;
		bottom: 11px;
		display: flex;
		flex-direction: column;
		padding: 10px 0 11px 16px;
		margin-inline: 11px;
		width: 90%;
		border-radius: 10px;
		color: var(--color-white);

		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);

		.category-card__title {
			font-size: var(--fs-18);
		}
		.category-card__price {
			font-size: var(--fs-12);
		}
	}
}
