.category-card {
	position: relative;
	border-radius: 10px;

	img {
		object-fit: cover;
		border-radius: 9px;
	}
	.ant-card-body {
		padding: 0;
	}

	.category-card__description {
		position: absolute;
		bottom: 11px;
		display: flex;
		flex-direction: column;
		padding: 10px 0 11px 16px;
		margin-inline: 11px;
		width: 90%;
		border-radius: 10px;
		color: var(--color-white);

		background: linear-gradient(
			135deg,
			rgba(255, 255, 255, 0.02),
			rgba(255, 255, 255, 0)
		);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);

		.category-card__title {
			font-family: var(--font-family);
			font-size: var(--fs-18);
			font-weight: 500;
		}
		.category-card__price {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: var(--fs-14);
		}
	}
}
