.nav-bar {
	background-color: var(--color-gray--block);
	width: 100%;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-block: 10px;
		.nav-bar__link > a {
			color: var(--color-black);
			font-size: var(--fs-14);
			font-weight: 500;
			transition: var(--transition);

			&:is(:hover, :focus-within, :active) {
				color: var(--color-blue);
			}
		}
	}
}
