.cart-menu {
	.ant-drawer-extra {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ant-drawer-body {
		padding: 15px;
	}

	.ant-drawer-footer {
		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 16px;
		}
	}
}

.cart-menu__delete-all {
	&:hover {
		svg {
			fill: #ee685f;
			transition: fill 0.2s ease-in;
		}
	}
}
