.cart-card {
	padding: 12px 0 12px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		gap: 25px;
	}
	&:not(:last-child) {
		border-bottom: 1px solid #eaebed;
	}
}

.cart-card__image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	background-color: #f1f2f6;
	border-radius: 50%;

	img {
		border-radius: 50%;
		height: 48px;
		width: 48px;
	}
}

.cart-card__description {
	.cart-card__name {
		font-size: var(--fs-16);
		font-weight: 500;
	}

	> div {
		font-size: var(--fs-15);

		display: flex;
		gap: 13px;
	}
}

.cart-card__buttons {
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		padding: 0;
		font-size: 16px;
		height: 28px;
		width: 28px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:last-child {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		&:first-child {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.cart-card__delete-item {
	transition: var(--transition);
	&:hover {
		svg {
			fill: #ee685f;
		}
	}
}
